$black: #000 !important;
$white: #fff !important;
$gray: gray !important;
$dark: #121212 !important;
$background-white: $white;

// Dark mode
$dark-menu-background: #2f344f !important;
$dark-sidebar-background: #3a3e53 !important;
$dark-chats-background: #434655 !important;
$dark-profile-background: #3a3e53 !important;

$dark-text-color: whitesmoke !important;
$dark-shadow-color: #d6e8ff1f !important;